header {
    height: 100px;
    width: 100%;
    /* Sets border to bottom only */
    border-bottom: 10px solid darkblue;
    background-color: #999900;
 
  }
  ul{
    position: ab
  }
  section {
    width: 70%;
    /* Sets top and bottom margin to 20px. Auto will center element */
    margin: 20px auto;
    border-bottom: 5px solid darkblue;
    background-color: #ffffd4;
  }
 image {
   width: 200;
 }